{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'economic_indicators_site/main_styling.css' %}">
    <link rel="stylesheet" href="{% static 'economic_indicators_site/components_styling/navbar_styling.css' %}">
    <link rel="stylesheet" href="{% static 'economic_indicators_site/components_styling/form_styling.css' %}">
    <title>Home Page</title>
</head>
<body class="main-body">
    <nav class="nav-hbar-view">
        <ul>
            <li><a href="/home">Strona Domowa</a></li>
            <li><a href="/new_raport/add_assets/?number=1">Stwórz Nowy Raport</a></li>
            <li><a href="/logout">Wyloguj Się</a></li>
        </ul>
    </nav>
    <div class="main_conent">
        {% block content %}
        {#    Here goes homePage text template#}
        {% endblock %}
    </div>
</body>
