{% extends "economic_indicators_site/components/navigationBar.html" %}
{% load widget_tweaks %}

{% block content %}
    <form method="post" class="form">
        {% csrf_token %}
        <h2 class="form__header">Rejestracja do serwisu</h2>
        <div class="form__inputs">
            {% for item in form %}
                {{ item.label_tag }}
                {% render_field item class+="form__input" %}
            {% endfor %}
        </div>
        <p class="form__error">{{ forms.errors }}</p>
        <button type="submit" class="form__button">Zaloguj się</button>
    </form>
{% endblock %}