{% extends "economic_indicators_site/components/navigationBar.html" %}

<body>
    {% block content %}
        <h1>Witaj, {{ username }}</h1>
        {{ form }}
        {% if raports|length == 0 %}
        <h2>Nie masz jeszcze żadnych raportów</h3>
        {% else %}
            <h3 class="raportHeader">Lista twoich raportów: </h3>
            <ul class="raportList">
                {% for raport in raports %}
                    <li class="raportList__text">
                        <a href="/full_raport_view/?identifier={{ raport.identifier }}">
                            {{ raport }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}

</body>
