{% extends "economic_indicators_site/components/navigationBar.html" %}

<body>
    {% block content %}
        <h1>Witaj, {{ username }}</h1>
        {{ form }}
        <h3 class="raportHeader">Lista twoich raportów analizy finansowej: </h3>
        {% if raports|length == 0 %}
        <h2 class="raportHeaderInfo">Nie masz jeszcze żadnych raportów analizy finansowej</h2>
        {% else %}
            <ul class="raportList">
                {% for raport in raports %}
                    <li class="raportList__text">
                        <a href="/full_raport_view/?identifier={{ raport.identifier }}">
                            {{ raport }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <br/>
        <h3 class="raportHeader">Lista Twoich Analiz Rynkowych:</h3>
        {% if market_analysis|length == 0 %}
            <h2 class="raportHeaderInfo">Nie masz jeszcze żadnych analiz rynkowych</h2>
            {% else %}
                <ul class="raportList">
                    {% for item in market_analysis %}
                        <li class="raportList__text">
                            <a href="/raport_analysis/{{ item.id }}">
                                {{ item }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
        {% endif %}
        <br/>
        <h3 class="raportHeader">Lista Twoich Raportów Procesów Wewnętrznych:</h3>
        {% if internal_proceses|length == 0 %}
            <h2 class="raportHeaderInfo">Nie Masz Jeszcze Żadnych Raportów Procesów Wewnętrznych</h2>
            {% else %}
                <ul class="raportList">
                    {% for item in internal_proceses %}
                        <li class="raportList__text">
                            <a href="/third_module_raport/{{ item.id }}">
                                {{ item }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
        {% endif %}
    {% endblock %}

</body>
