{% extends "economic_indicators_site/components/navigationBar.html" %}
{% load widget_tweaks %}

{% block content %}
<form method="post" class="form form--maxWidth">
    <h2 class="form__header">{{ title }}</h2>
    {% csrf_token %}
    <div class="form__inputs">
        {% for item in form %}
        <div class="form__singleInput">
            <div class="form__row">
                <label class="form__label form__label--large">
                    {{ item.label_tag }}
                </label>
                {% render_field item class+="form__input" %}
            </div>
            <p class="form__error">{{ item.errors.as_text }}</p>
        </div>
        {% endfor %}
            <p class="form__error">{{ form.non_field_errors.as_text }}</p>
    </div>
    <button type="submit" class="form__button form__button--center">
        {% if is_repetitive %}
            Zatwierdź zmiany i dodaj pozycję
            {% else %}
            Dodaj Kolejną Pozycję
        {% endif %}
    </button>
    {% if is_repetitive %}
        <button type="submit" class="form__button form__button--center" name="next">Zapisz i Przejdź do następnej sekcji</button>
    {% endif %}
</form>
{% endblock %}